BASE_router_43
# This file describes the network interfaces
auto BASE-L2.10
iface BASE-L2.10 inet static
  address 43.100.0.0/19

auto BASE-L2.20
iface BASE-L2.20 inet static
  address 43.100.32.0/19

auto ext_41_ZURI
iface ext_41_ZURI inet static
  address 179.0.14.2/24

auto lo
iface lo inet static
  address 43.1.0.2/32

auto port_GENE
iface port_GENE inet static
  address 43.0.0.10/31

auto port_LYON
iface port_LYON inet static
  address 43.0.0.14/31

auto port_MUNI
iface port_MUNI inet static
  address 43.0.0.12/31

auto port_ZURI
iface port_ZURI inet static
  address 43.0.0.1/31

# ports.conf --

frr version 7.5.1
frr defaults traditional
hostname BASE_router_43
!
ip route 43.0.0.0/8 Null0
!
router bgp 43
 neighbor 43.1.0.1 remote-as 43
 neighbor 43.1.0.1 update-source lo
 neighbor 43.1.0.3 remote-as 43
 neighbor 43.1.0.3 update-source lo
 neighbor 43.1.0.4 remote-as 43
 neighbor 43.1.0.4 update-source lo
 neighbor 43.1.0.5 remote-as 43
 neighbor 43.1.0.5 update-source lo
 neighbor 43.1.0.6 remote-as 43
 neighbor 43.1.0.6 update-source lo
 neighbor 43.1.0.7 remote-as 43
 neighbor 43.1.0.7 update-source lo
 neighbor 43.1.0.8 remote-as 43
 neighbor 43.1.0.8 update-source lo
 neighbor 179.0.14.1 remote-as 41
 !
 address-family ipv4 unicast
  network 43.0.0.0/8
  neighbor 43.1.0.1 next-hop-self
  neighbor 43.1.0.3 next-hop-self
  neighbor 43.1.0.4 next-hop-self
  neighbor 43.1.0.5 next-hop-self
  neighbor 43.1.0.6 next-hop-self
  neighbor 43.1.0.7 next-hop-self
  neighbor 43.1.0.8 next-hop-self
  neighbor 179.0.14.1 route-map MAP_IN in
  neighbor 179.0.14.1 route-map MAP_OUT out
 exit-address-family
!
router ospf
 network 43.0.0.0/8 area 0
!
bgp as-path access-list as_path_SELF_AND_CUSTOMERS permit ^$|^(45_|46_|45$|46$)
!
route-map MAP_IN permit 10
 set local-preference 50
!
route-map MAP_OUT permit 10
 match as-path as_path_SELF_AND_CUSTOMERS
!
line vty
!
end
