GENE_router_43
# This file describes the network interfaces
auto GENE-L2.10
iface GENE-L2.10 inet static
  address 43.101.0.0/19

auto GENE-L2.20
iface GENE-L2.20 inet static
  address 43.101.32.0/19

auto lo
iface lo inet static
  address 43.1.0.3/32

auto port_BASE
iface port_BASE inet static
  address 43.0.0.11/31

auto port_LUGA
iface port_LUGA inet static
  address 43.0.0.16/31

auto port_LYON
iface port_LYON inet static
  address 43.0.0.18/31

auto port_ZURI
iface port_ZURI inet static
  address 43.0.0.3/31

# ports.conf --

frr version 7.5.1
frr defaults traditional
hostname GENE_router_43
!
router bgp 43
 neighbor 43.1.0.1 remote-as 43
 neighbor 43.1.0.1 update-source lo
 neighbor 43.1.0.2 remote-as 43
 neighbor 43.1.0.2 update-source lo
 neighbor 43.1.0.4 remote-as 43
 neighbor 43.1.0.4 update-source lo
 neighbor 43.1.0.5 remote-as 43
 neighbor 43.1.0.5 update-source lo
 neighbor 43.1.0.6 remote-as 43
 neighbor 43.1.0.6 update-source lo
 neighbor 43.1.0.7 remote-as 43
 neighbor 43.1.0.7 update-source lo
 neighbor 43.1.0.8 remote-as 43
 neighbor 43.1.0.8 update-source lo
!
router ospf
 network 43.0.0.0/8 area 0
!
line vty
!
end
