LUGA_router_43
# This file describes the network interfaces
auto ext_44_LUGA
iface ext_44_LUGA inet static
  address 44.0.0.25/31

auto lo
iface lo inet static
  address 43.1.0.4/32

auto port_GENE
iface port_GENE inet static
  address 43.0.0.17/31

auto port_MILA
iface port_MILA inet static
  address 43.0.0.22/31

auto port_VIEN
iface port_VIEN inet static
  address 43.0.0.20/31

auto port_ZURI
iface port_ZURI inet static
  address 43.0.0.5/31

# ports.conf --

frr version 7.5.1
frr defaults traditional
hostname LUGA_router_43
!
ip route 43.0.0.0/8 Null0
!
router bgp 43
 no bgp default ipv4-unicast
 neighbor 43.1.0.1 remote-as 43
 neighbor 43.1.0.1 update-source lo
 neighbor 43.1.0.2 remote-as 43
 neighbor 43.1.0.2 update-source lo
 neighbor 43.1.0.3 remote-as 43
 neighbor 43.1.0.3 update-source lo
 neighbor 43.1.0.5 remote-as 43
 neighbor 43.1.0.5 update-source lo
 neighbor 43.1.0.6 remote-as 43
 neighbor 43.1.0.6 update-source lo
 neighbor 43.1.0.7 remote-as 43
 neighbor 43.1.0.7 update-source lo
 neighbor 43.1.0.8 remote-as 43
 neighbor 43.1.0.8 update-source lo
 neighbor 44.0.0.24 remote-as 44
 !
 address-family ipv4 unicast
  network 43.0.0.0/8
  neighbor 43.1.0.1 activate
  neighbor 43.1.0.1 next-hop-self
  neighbor 43.1.0.2 activate
  neighbor 43.1.0.2 next-hop-self
  neighbor 43.1.0.3 activate
  neighbor 43.1.0.3 next-hop-self
  neighbor 43.1.0.5 activate
  neighbor 43.1.0.5 next-hop-self
  neighbor 43.1.0.6 activate
  neighbor 43.1.0.6 next-hop-self
  neighbor 43.1.0.7 activate
  neighbor 43.1.0.7 next-hop-self
  neighbor 43.1.0.8 activate
  neighbor 43.1.0.8 next-hop-self
  neighbor 44.0.0.24 activate
  neighbor 44.0.0.24 route-map MAP_IN in
  neighbor 44.0.0.24 route-map MAP_OUT out
 exit-address-family
!
router ospf
 network 43.0.0.0/8 area 0
!
bgp as-path access-list as_path_SELF_AND_CUSTOMERS permit ^$|^(45_|46_|45$|46$)
!
route-map MAP_IN permit 10
 set local-preference 100
!
route-map MAP_OUT permit 10
 match as-path as_path_SELF_AND_CUSTOMERS
!
line vty
!
end
