LYON_router_4
# This file describes the network interfaces
auto ext_6_BASE
iface ext_6_BASE inet static
  address 179.0.40.1/24

auto host
iface host inet static
  address 4.106.0.1/24

auto lo
iface lo inet static
  address 4.156.0.1/24

auto matrix_4
iface matrix_4 inet static
  address 4.0.198.1/24

auto port_BASE
iface port_BASE inet static
  address 4.0.8.2/24

auto port_GENE
iface port_GENE inet static
  address 4.0.10.2/24

# ports.conf --

frr version 7.5.1
frr defaults traditional
hostname LYON_router_4
!
ip route 4.0.0.0/8 Null0
!
interface port_BASE
 ip ospf cost 100
!
!
interface port_GENE
 ip ospf cost 100
!
!
router bgp 4
 neighbor 4.151.0.1 remote-as 4
 neighbor 4.151.0.1 update-source lo
 neighbor 4.152.0.1 remote-as 4
 neighbor 4.152.0.1 update-source lo
 neighbor 4.153.0.1 remote-as 4
 neighbor 4.153.0.1 update-source lo
 neighbor 4.154.0.1 remote-as 4
 neighbor 4.154.0.1 update-source lo
 neighbor 4.155.0.1 remote-as 4
 neighbor 4.155.0.1 update-source lo
 neighbor 4.157.0.1 remote-as 4
 neighbor 4.157.0.1 update-source lo
 neighbor 4.158.0.1 remote-as 4
 neighbor 4.158.0.1 update-source lo
 neighbor 179.0.40.2 remote-as 6
 !
 address-family ipv4 unicast
  network 4.0.0.0/8
  neighbor 4.151.0.1 next-hop-self
  neighbor 4.152.0.1 next-hop-self
  neighbor 4.153.0.1 next-hop-self
  neighbor 4.154.0.1 next-hop-self
  neighbor 4.155.0.1 next-hop-self
  neighbor 4.157.0.1 next-hop-self
  neighbor 4.158.0.1 next-hop-self
  neighbor 179.0.40.2 route-map CUSTOMER_IN in
  neighbor 179.0.40.2 route-map CUSTOMER_OUT out
 exit-address-family
!
router ospf
 network 3.0.198.0/24 area 0
 network 4.0.8.0/24 area 0
 network 4.0.10.0/24 area 0
 network 4.0.198.0/24 area 0
 network 4.106.0.0/24 area 0
 network 4.156.0.0/24 area 0
!
bgp community-list standard 1 permit 1:100
!
route-map ACCEPT_ALL permit 10
!
route-map CUSTOMER_IN permit 10
 set community 4:100
 set local-preference 1000
!
route-map CUSTOMER_OUT permit 10
!
line vty
!
end
