ZURI_router_43
# This file describes the network interfaces
auto ZURI-L2.10
iface ZURI-L2.10 inet static
  address 43.100.0.0/19

auto ZURI-L2.20
iface ZURI-L2.20 inet static
  address 43.100.32.0/19

auto dns_43
iface dns_43 inet static
  address 198.0.0.43/24

auto lo
iface lo inet static
  address 43.1.0.1/32

auto port_BASE
iface port_BASE inet static
  address 43.0.0.0/31

auto port_GENE
iface port_GENE inet static
  address 43.0.0.2/31

auto port_LUGA
iface port_LUGA inet static
  address 43.0.0.4/31

auto port_MUNI
iface port_MUNI inet static
  address 43.0.0.6/31

auto port_VIEN
iface port_VIEN inet static
  address 43.0.0.8/31

# ports.conf --

frr version 7.5.1
frr defaults traditional
hostname ZURI_router_43
!
router bgp 43
 neighbor 43.1.0.2 remote-as 43
 neighbor 43.1.0.2 update-source lo
 neighbor 43.1.0.3 remote-as 43
 neighbor 43.1.0.3 update-source lo
 neighbor 43.1.0.4 remote-as 43
 neighbor 43.1.0.4 update-source lo
 neighbor 43.1.0.5 remote-as 43
 neighbor 43.1.0.5 update-source lo
 neighbor 43.1.0.6 remote-as 43
 neighbor 43.1.0.6 update-source lo
 neighbor 43.1.0.7 remote-as 43
 neighbor 43.1.0.7 update-source lo
 neighbor 43.1.0.8 remote-as 43
 neighbor 43.1.0.8 update-source lo
!
router ospf
 network 43.0.0.0/8 area 0
 network 198.0.0.0/24 area 0
!
line vty
!
end
