VIEN_router_25
# This file describes the network interfaces
auto host
iface host inet static
  address 25.107.0.1/24
iface host inet static
  address 25.42.7.1/24

auto ixp_122
iface ixp_122 inet static
  address 180.122.0.25/24

auto lo
iface lo inet static
  address 25.127.0.7/32

auto port_LUGA
iface port_LUGA inet static
  address 25.0.11.7/24

auto port_ZURI
iface port_ZURI inet static
  address 25.0.5.7/24

# ports.conf --

frr version 7.5.1
frr defaults traditional
hostname VIEN_router_25
!
ip route 25.0.0.0/8 Null0
!
router bgp 25
 neighbor 25.127.0.1 remote-as 25
 neighbor 25.127.0.1 update-source lo
 neighbor 25.127.0.2 remote-as 25
 neighbor 25.127.0.2 update-source lo
 neighbor 25.127.0.3 remote-as 25
 neighbor 25.127.0.3 update-source lo
 neighbor 25.127.0.4 remote-as 25
 neighbor 25.127.0.4 update-source lo
 neighbor 25.127.0.5 remote-as 25
 neighbor 25.127.0.5 update-source lo
 neighbor 25.127.0.6 remote-as 25
 neighbor 25.127.0.6 update-source lo
 neighbor 25.127.0.8 remote-as 25
 neighbor 25.127.0.8 update-source lo
 neighbor 180.122.0.122 remote-as 122
 !
 address-family ipv4 unicast
  network 25.0.0.0/8
  neighbor 25.127.0.1 next-hop-self
  neighbor 25.127.0.2 next-hop-self
  neighbor 25.127.0.3 next-hop-self
  neighbor 25.127.0.4 next-hop-self
  neighbor 25.127.0.5 next-hop-self
  neighbor 25.127.0.6 next-hop-self
  neighbor 25.127.0.8 next-hop-self
  neighbor 180.122.0.122 route-map ACCEPT_ALL in
  neighbor 180.122.0.122 route-map IXP_OUT out
 exit-address-family
!
router ospf
 network 25.0.0.0/8 area 0
!
ip prefix-list default seq 5 permit 25.0.0.0/8
!
bgp community-list standard 1 permit 25:150
!
route-map ACCEPT_ALL permit 10
 set community 25:50
 set local-preference 49
!
route-map IXP_OUT permit 10
 match community 1
 set community 122:42 122:44 122:46 122:48 122:50 122:52
!
route-map IXP_OUT permit 20
 match ip address prefix-list default
 set community 122:42 122:44 122:46 122:48 122:50 122:52
!
line vty
!
end
