LYON_router_26
# This file describes the network interfaces
auto ext_28_BASE
iface ext_28_BASE inet static
  address 179.0.65.1/24

auto host
iface host inet static
  address 26.106.0.1/24

auto lo
iface lo inet static
  address 26.200.6.0/24

auto matrix_26
iface matrix_26 inet static
  address 26.0.198.1/24

auto port_BASE
iface port_BASE inet static
  address 26.0.8.1/24

auto port_GENE
iface port_GENE inet static
  address 26.0.9.1/24

# ports.conf --

frr version 7.5.1
frr defaults traditional
hostname LYON_router_26
!
ip route 26.0.0.0/8 Null0
!
router bgp 26
 neighbor 26.200.1.0 remote-as 26
 neighbor 26.200.1.0 update-source lo
 neighbor 26.200.2.0 remote-as 26
 neighbor 26.200.2.0 update-source lo
 neighbor 26.200.3.0 remote-as 26
 neighbor 26.200.3.0 update-source lo
 neighbor 26.200.4.0 remote-as 26
 neighbor 26.200.4.0 update-source lo
 neighbor 26.200.5.0 remote-as 26
 neighbor 26.200.5.0 update-source lo
 neighbor 26.200.7.0 remote-as 26
 neighbor 26.200.7.0 update-source lo
 neighbor 26.200.8.0 remote-as 26
 neighbor 26.200.8.0 update-source lo
 neighbor 179.0.65.2 remote-as 28
 !
 address-family ipv4 unicast
  network 26.0.0.0/8
  neighbor 26.200.1.0 next-hop-self
  neighbor 26.200.2.0 next-hop-self
  neighbor 26.200.3.0 next-hop-self
  neighbor 26.200.4.0 next-hop-self
  neighbor 26.200.5.0 next-hop-self
  neighbor 26.200.7.0 next-hop-self
  neighbor 26.200.8.0 next-hop-self
  neighbor 179.0.65.2 route-map MAP_IN in
  neighbor 179.0.65.2 route-map ACCEPT_ALL out
 exit-address-family
!
router ospf
 network 26.0.0.0/8 area 0
 network 26.0.198.0/24 area 0
!
bgp community-list standard 1 permit 26:100
!
route-map ACCEPT_ALL permit 10
!
route-map MAP_IN permit 5
 set local-preference 1000
!
route-map MAP_OUT deny 5
 match community 1
!
line vty
!
end
