LYON_router_25
# This file describes the network interfaces
auto ext_27_BASE
iface ext_27_BASE inet static
  address 25.43.6.2/31

auto host
iface host inet static
  address 25.42.6.1/24

auto lo
iface lo inet static
  address 25.127.0.6/32

auto matrix_25
iface matrix_25 inet static
  address 25.0.198.1/24

auto port_BASE
iface port_BASE inet static
  address 25.0.8.6/24

auto port_GENE
iface port_GENE inet static
  address 25.0.10.6/24

# ports.conf --

frr version 7.5.1
frr defaults traditional
hostname LYON_router_25
!
ip route 25.0.0.0/8 Null0
!
router bgp 25
 neighbor 25.43.6.3 remote-as 27
 neighbor 25.127.0.1 remote-as 25
 neighbor 25.127.0.1 update-source lo
 neighbor 25.127.0.2 remote-as 25
 neighbor 25.127.0.2 update-source lo
 neighbor 25.127.0.3 remote-as 25
 neighbor 25.127.0.3 update-source lo
 neighbor 25.127.0.4 remote-as 25
 neighbor 25.127.0.4 update-source lo
 neighbor 25.127.0.5 remote-as 25
 neighbor 25.127.0.5 update-source lo
 neighbor 25.127.0.7 remote-as 25
 neighbor 25.127.0.7 update-source lo
 neighbor 25.127.0.8 remote-as 25
 neighbor 25.127.0.8 update-source lo
 !
 address-family ipv4 unicast
  network 25.0.0.0/8
  neighbor 25.43.6.3 route-map CU_IN in
  neighbor 25.43.6.3 route-map CU_OUT out
  neighbor 25.127.0.1 next-hop-self
  neighbor 25.127.0.2 next-hop-self
  neighbor 25.127.0.3 next-hop-self
  neighbor 25.127.0.4 next-hop-self
  neighbor 25.127.0.5 next-hop-self
  neighbor 25.127.0.7 next-hop-self
  neighbor 25.127.0.8 next-hop-self
 exit-address-family
!
router ospf
 network 25.0.0.0/8 area 0
!
route-map ACCEPT_ALL permit 10
!
route-map CU_IN permit 10
 set community 25:150
 set local-preference 150
!
route-map CU_OUT permit 10
!
line vty
!
end
