ZURI_router_29
# This file describes the network interfaces
auto ZURI-L2.10
iface ZURI-L2.10 inet static
  address 29.202.0.1/24

auto ZURI-L2.20
iface ZURI-L2.20 inet static
  address 29.200.0.1/24

auto dns_29
iface dns_29 inet static
  address 198.0.0.29/24

auto host
iface host inet static
  address 29.101.0.2/24

auto lo
iface lo inet static
  address 29.151.0.1/32

auto port_BASE
iface port_BASE inet static
  address 29.0.1.1/30

auto port_GENE
iface port_GENE inet static
  address 29.0.2.1/30

auto port_LUGA
iface port_LUGA inet static
  address 29.0.3.1/30

auto port_MUNI
iface port_MUNI inet static
  address 29.0.4.1/30

auto port_VIEN
iface port_VIEN inet static
  address 29.0.5.1/30

# ports.conf --

frr version 7.5.1
frr defaults traditional
hostname ZURI_router_29
!
interface port_GENE
 ip ospf cost 4
!
!
router bgp 29
 neighbor 29.152.0.1 remote-as 29
 neighbor 29.152.0.1 update-source lo
 neighbor 29.153.0.1 remote-as 29
 neighbor 29.153.0.1 update-source lo
 neighbor 29.154.0.1 remote-as 29
 neighbor 29.154.0.1 update-source lo
 neighbor 29.155.0.1 remote-as 29
 neighbor 29.155.0.1 update-source lo
 neighbor 29.156.0.1 remote-as 29
 neighbor 29.156.0.1 update-source lo
 neighbor 29.157.0.1 remote-as 29
 neighbor 29.157.0.1 update-source lo
 neighbor 29.158.0.1 remote-as 29
 neighbor 29.158.0.1 update-source lo
!
router ospf
 network 29.0.0.0/8 area 0
 network 198.0.0.0/24 area 0
!
line vty
!
end
