LYON_router_6
# This file describes the network interfaces
auto ext_8_BASE
iface ext_8_BASE inet static
  address 179.0.45.1/24

auto host
iface host inet static
  address 6.106.0.1/24

auto lo
iface lo inet static
  address 6.156.0.1/24

auto matrix_6
iface matrix_6 inet static
  address 6.0.198.1/24

auto port_BASE
iface port_BASE inet static
  address 6.0.8.2/24

auto port_GENE
iface port_GENE inet static
  address 6.0.10.2/24

# ports.conf --

frr version 7.5.1
frr defaults traditional
hostname LYON_router_6
!
ip route 6.0.0.0/8 Null0
!
router bgp 6
 neighbor 6.151.0.1 remote-as 6
 neighbor 6.151.0.1 update-source lo
 neighbor 6.152.0.1 remote-as 6
 neighbor 6.152.0.1 update-source lo
 neighbor 6.153.0.1 remote-as 6
 neighbor 6.153.0.1 update-source lo
 neighbor 6.154.0.1 remote-as 6
 neighbor 6.154.0.1 update-source lo
 neighbor 6.155.0.1 remote-as 6
 neighbor 6.155.0.1 update-source lo
 neighbor 6.157.0.1 remote-as 6
 neighbor 6.157.0.1 update-source lo
 neighbor 6.158.0.1 remote-as 6
 neighbor 6.158.0.1 update-source lo
 neighbor 179.0.45.2 remote-as 8
 !
 address-family ipv4 unicast
  network 6.0.0.0/8
  neighbor 6.151.0.1 next-hop-self
  neighbor 6.152.0.1 next-hop-self
  neighbor 6.153.0.1 next-hop-self
  neighbor 6.154.0.1 next-hop-self
  neighbor 6.155.0.1 next-hop-self
  neighbor 6.157.0.1 next-hop-self
  neighbor 6.158.0.1 next-hop-self
  neighbor 179.0.45.2 route-map MAP_IN in
  neighbor 179.0.45.2 route-map ACCEPT_ALL out
 exit-address-family
!
router ospf
 network 6.0.8.0/24 area 0
 network 6.0.10.0/24 area 0
 network 6.0.198.0/24 area 0
 network 6.106.0.0/24 area 0
 network 6.156.0.0/24 area 0
!
bgp community-list standard 3 permit 6:6
!
route-map ACCEPT_ALL permit 10
!
route-map MAP_IN permit 10
 set community 6:6
 set local-preference 1000
!
line vty
!
end
