MILA_router_7
# This file describes the network interfaces
auto ext_10_MUNI
iface ext_10_MUNI inet static
  address 179.0.48.1/24

auto host
iface host inet static
  address 7.1.0.14/31

auto lo
iface lo inet static
  address 7.0.0.8/32

auto measurement_7
iface measurement_7 inet static
  address 7.0.199.1/24

auto port_LUGA
iface port_LUGA inet static
  address 7.0.1.23/31

# ports.conf --

frr version 7.5.1
frr defaults traditional
hostname MILA_router_7
!
router bgp 7
 neighbor 7.0.0.1 remote-as 7
 neighbor 7.0.0.1 update-source lo
 neighbor 7.0.0.2 remote-as 7
 neighbor 7.0.0.2 update-source lo
 neighbor 7.0.0.3 remote-as 7
 neighbor 7.0.0.3 update-source lo
 neighbor 7.0.0.4 remote-as 7
 neighbor 7.0.0.4 update-source lo
 neighbor 7.0.0.5 remote-as 7
 neighbor 7.0.0.5 update-source lo
 neighbor 7.0.0.6 remote-as 7
 neighbor 7.0.0.6 update-source lo
 neighbor 7.0.0.7 remote-as 7
 neighbor 7.0.0.7 update-source lo
 neighbor 179.0.48.2 remote-as 10
 !
 address-family ipv4 unicast
  network 7.0.0.0/8
  neighbor 7.0.0.1 next-hop-self
  neighbor 7.0.0.2 next-hop-self
  neighbor 7.0.0.3 next-hop-self
  neighbor 7.0.0.4 next-hop-self
  neighbor 7.0.0.5 next-hop-self
  neighbor 7.0.0.6 next-hop-self
  neighbor 7.0.0.7 next-hop-self
  neighbor 179.0.48.2 route-map ACCEPT_ALL in
  neighbor 179.0.48.2 route-map ACCEPT_ALL out
 exit-address-family
!
router ospf
 network 7.0.0.0/8 area 0
!
route-map ACCEPT_ALL permit 10
 set local-preference 150
!
line vty
!
end
