MUNI_router_5
# This file describes the network interfaces
auto ext_4_MILA
iface ext_4_MILA inet static
  address 179.0.41.2/24

auto host
iface host inet static
  address 5.105.0.0/24

auto lo
iface lo inet static
  address 5.155.0.0/24

auto port_BASE
iface port_BASE inet static
  address 5.0.7.2/24

auto port_ZURI
iface port_ZURI inet static
  address 5.0.4.2/24

# ports.conf --

frr version 7.5.1
frr defaults traditional
hostname MUNI_router_5
!
ip route 5.0.0.0/8 Null0
!
router bgp 5
 neighbor 5.151.0.0 remote-as 5
 neighbor 5.151.0.0 update-source lo
 neighbor 5.152.0.0 remote-as 5
 neighbor 5.152.0.0 update-source lo
 neighbor 5.153.0.0 remote-as 5
 neighbor 5.153.0.0 update-source lo
 neighbor 5.154.0.0 remote-as 5
 neighbor 5.154.0.0 update-source lo
 neighbor 5.156.0.0 remote-as 5
 neighbor 5.156.0.0 update-source lo
 neighbor 5.157.0.0 remote-as 5
 neighbor 5.157.0.0 update-source lo
 neighbor 5.158.0.0 remote-as 5
 neighbor 5.158.0.0 update-source lo
 neighbor 179.0.41.1 remote-as 4
 !
 address-family ipv4 unicast
  network 5.0.0.0/8
  neighbor 5.151.0.0 next-hop-self
  neighbor 5.152.0.0 next-hop-self
  neighbor 5.153.0.0 next-hop-self
  neighbor 5.154.0.0 next-hop-self
  neighbor 5.156.0.0 next-hop-self
  neighbor 5.157.0.0 next-hop-self
  neighbor 5.158.0.0 next-hop-self
  neighbor 179.0.41.1 next-hop-self
  neighbor 179.0.41.1 route-map PROVIDER_IN in
  neighbor 179.0.41.1 route-map PROVIDER_OUT out
 exit-address-family
!
router ospf
 network 5.0.0.0/8 area 0
!
bgp as-path access-list as_path_1 permit ^+$
!
bgp community-list standard 3 permit 5:300
!
route-map PROVIDER_IN permit 10
 set community 5:100
 set local-preference 100
!
route-map PROVIDER_OUT permit 10
 match community 3
!
route-map PROVIDER_OUT permit 9
 match as-path as_path_1
!
line vty
!
end
